<h1>Electricity Details by Units</h1>
<table class="table">
    <thead>
        <tr>
            <th *ngFor="let eachColumn of electricityTableColumns">
                <span class="column">{{eachColumn.label}}</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let eachRowData of formDataPush">
            <td>{{eachRowData?.userName}}</td>
            <td>{{eachRowData?.units}}</td>
            <td>{{eachRowData?.pricePerUnit}}</td>
            <td>{{getTotal(eachRowData)}}</td>
        </tr>
    </tbody>
</table>